!!!
%html
    %head
        %title My HAML Page
    %body
        %h1 Welcome to My HAML Page
        %p This is a paragraph in HAML.
        %p hiiiiiiiiiiiiiiii. 
        %footer ok
        
         