// for class in this name
@mixin font-english {
    font: {
        family: Arial, Helvetica, sans-serif;
    }
    direction: ltr;
}
@mixin font-persian {
    font: {
        family: vazirmatn;
        src: url("font/webfonts/Vazirmatn[wght].woff2") format("woff2 supports variations"),
            url("font/webfonts/Vazirmatn[wght].woff2") format("woff2-variations");
            font-weight: 100 900;
            font-style: normal;
            font-display: swap;
    }
    direction: rtl;
}