/* trunk-ignore-all(prettier) */
@use 'variable';
// basic mixins and pholders
%universal-tag {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0 none;
    list-style-type: none;
    box-sizing: border-box;
    // temperary
    // color: red;
}

%html {
    height: 100%;
    min-height: 100%;
    direction: rtl;

}
%body {
    background-color: variable.$bg-color2;
}
%header {
    max-width: 100%;
    height: 48px;
    // temporary
    // overflow: hidden;
    background-color: variable.$bg-color1;
}
// repeatly mixins
@mixin font-english {
    font: {
        family:  Arial, Helvetica, sans-serif;
    }

    direction: ltr;
}
// maybe change font to variable ↓ 
@mixin font-persian {
    font: {
        family: vazirmatn;
        weight: 100 900;
        style: normal;
        display: swap;
    }

    direction: rtl;
    src: url("font/webfonts/Vazirmatn[wght].woff2") format("woff2 supports variations"),
    url("font/webfonts/Vazirmatn[wght].woff2") format("woff2-variations");
}
// utilities

//  for  block inline responsive 
// @mixin responsive-text($textsize, variables.$text-size){
    // font: {    //(1rem,1vm = 1% )
//         size: $textsize;
//     }
// }

//@mixin reponsive-box{   // for block responsive 
//    max-width: 45px;
 //  margin : auto;
//}
// layout mobile first responsive design