@use 'variable';
@use 'impotant-vars';

* {

  @include impotant-vars.basic-style;
}

html {
  @include impotant-vars.html;

  body {
    @include impotant-vars.body;

    /* my wave header */
    header {
      @include impotant-vars.header;
      grid-row-end: auto;
      position: relative;
      text-align: center;

      background: linear-gradient(60deg, variable.$backgroundColor2, variable.$backgroundColor3);
      color: variable.$color1;

      .topNav {
        text-align: center;
        width: 50%;
        min-height: 100%;
        vertical-align: middle;
        display: table-cell;

        .btn-1 {
          background: #a188fc;
          /* Old browsers */
          background: -moz-linear-gradient(left,
              #a188fc 0%,
              #2eeade 50%,
              #a188fc 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(left,
              #a188fc 0%,
              #2eeade 50%,
              #a188fc 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right,
              #a188fc 0%,
              #2eeade 50%,
              #a188fc 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a188fc', endColorstr='#a188fc', GradientType=1);
          /* IE6-9 */
          background-size: 200%;
          background-position: 100%;
          color: #ccffff;
          padding: 1em 3em;
          border-radius: 2em;
          display: inline-block;
          box-shadow: 0 0 20px #229999;
          text-shadow: 0 0 5px #000;
          -webkit-transition: all 0.7s;
          -moz-transition: all 0.7s;
          transition: all 0.7s;
          border: solid 1px #333;
        }

        .btn-1:hover {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a188fc+0,2eeade+100 */
          background: #a188fc;
          /* Old browsers */
          background: -moz-linear-gradient(left,
              #a188fc 0%,
              #2eeade 50%,
              #a188fc 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(left,
              #a188fc 0%,
              #2eeade 50%,
              #a188fc 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right,
              #a188fc 0%,
              #2eeade 50%,
              #a188fc 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a188fc', endColorstr='#a188fc', GradientType=1);
          /* IE6-9 */
          background-size: 200%;
          background-position: 0px;
          box-shadow: 0 0 40px #55ffff;
          color: #ccffff;
          text-shadow: 0 0 30px #000000;
          border: solid 1px #ccffff;
        }
      }

      // box inside header
      .waves {
        position: relative;
        width: 100%;
        height: 15vh;
        margin-bottom: -7px;
        /*Fix for safari gap*/
        min-height: 100px;
        max-height: 150px;
      }

      /*Animation for header wave*/
      .parallax>use {
        animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
      }

      .parallax>use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
      }

      .parallax>use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
      }

      .parallax>use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
      }

      .parallax>use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
      }

      @keyframes move-forever {
        0% {
          transform: translate3d(-90px, 0, 0);
        }

        100% {
          transform: translate3d(85px, 0, 0);
        }
      }

      /*Shrinking for mobile*/
      @media (max-width: 768px) {
        .waves {
          height: 40px;
          min-height: 40px;
        }

        .content {
          height: 30vh;
        }

        h1 {
          font-size: 240px;

        }
      }
    }

    aside {
      background: radial-gradient(#e99b0b, #9C8763);
      perspective: 900px;
      margin: 0;
      overflow: hidden;
      width: 100px;
      height: 400px;

    }
  }
}