// for pertial files(from organized)
@use 'variable';
@use 'mixins-pholders';

* {
  @include mixins-pholders.universal-tag;
}

html {
  @extend %html;

  body {
    @include mixins-pholders.body;

    /* my wave header use position just form lay out */
    header {
      @include mixins-pholders.header;

      // need to change with grid
      .header-menu {
           max-width: 1296px;
          height: 48px;
        /* .logo {}*/

        .menu-navigation {
       
display: flex;


          /*.menu-list {
            .menu-item {
              .menu-link {}

              .menu-text {}
            }
            .menu-contact {
        }
          }*/

        }


      }
    }
  }
}

// how select all style 
// figma template
/*
.frame {
  display: flex;
  width: 1295.84px;
  height: 48px;
  align-items: center;
  gap: 259px;
  position: relative;
}

.frame .logo {
  position: relative;
  width: 196px;
  height: 40px;
}

.frame .navigation {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 50px;
  border: 1px solid;
  border-color: var(--white-10);
}

.frame .div {
  align-items: flex-start;
  display: inline-flex;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.frame .link {
  position: relative;
  width: 101.03px;
  height: 40px;
  background-color: var(--card-bg);
  border-radius: 32px;
}

.frame .text-wrapper {
  position: absolute;
  width: 65px;
  height: 24px;
  top: 6px;
  left: 18px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--gray);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.frame .div-wrapper {
  width: 101.03px;
  border-radius: 32px;
  position: relative;
  height: 40px;
}

.frame .link-2 {
  width: 101.03px;
  position: relative;
  height: 40px;
}

.frame .link-3 {
  width: 94.75px;
  position: relative;
  height: 40px;
}

.frame .text-wrapper-2 {
  position: absolute;
  width: 59px;
  height: 24px;
  top: 6px;
  left: 18px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--gray);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.frame .div-2 {
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  background-color: #1e1e1e;
  border-radius: 8px;
  display: inline-flex;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.frame .div-nav-dot {
  position: relative;
  width: 6px;
  height: 6px;
  background-color: #16b364;
  border-radius: 3px;
}

.frame .text-wrapper-3 {
  position: relative;
  width: 78px;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--primary);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
}
*/


